@font-face {
    font-family: General Sans;
    src: url(../assets/GeneralSans-Regular.otf), url(../assets/GeneralSans-Medium.otf);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: General Sans;
}

html,
body {
    width: 100%;
    height: 100%;

    .container {
        padding: 2rem 2.5rem;
    }
}

.hero__section {
    width: 100%;
    height: 100vh;
    background-color: #000;

    #nav-bar {
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 1.125rem;
            font-weight: 800;
            color: #fff;
            text-decoration: none;
        }
    }

    .heading {
        margin-top: 100px;
        color: #fff;

        & h1 {
            opacity: .6;
            font-size: 10.42vw;
            line-height: 10.13vw;
            font-weight: bolder;
            letter-spacing: 6px;
        }

        .text__content {
            width: max-content;

            #left {
                margin-left: 11vw;
            }

            & h6 {
                text-align: right;
                margin-top: 1rem;
                font-size: 1rem;
                line-height: 34px;
            }
        }

    }

    .small__heading {
        width: 100%;
        margin-top: 100px;

        & h5 {
            text-transform: uppercase;
            font-size: .8rem;
            line-height: 1.8;
            color: #fff;
            text-align: right;
        }
    }

    .hero__links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }

        & span {
            width: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: #888;
                border-radius: 50%;

                & i {
                    font-weight: 200;
                    font-size: 1.5rem;
                }
            }
        }
    }
}